* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.upper {
    height: 32rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0.5),  
      rgba(0, 0, 0, 0.5)   
    ),url(img/globe-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.upper h1 {
    font-size: 50px;
    color: #ffffff;
    letter-spacing: 0.9rem;
}

.upper p {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

.stw, .search {
    background-color: #895be6;
    color: #ffffff;
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    font-weight: 500;
}

.order {
    background-color: #895be6;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    border-radius: 7px;
}

.order p {
    font-size: 10px;
}

.input {
    margin-top: 1rem;
}

input {
    border-radius: 10px;
    /* padding:px 23px; */
    width: 30rem;
    background-color: #ffffff;
    color: black;
}

.search-btn {
    width: 20px;
    height: 20px;
}